main_collective = <%= @main_collective %>

<% comma ='' %>
collectives = <%- @collectives.each do |collective| -%> <%= comma %><%= collective %> <% comma =','%> <% end %>


libdir = <%= @mcol_libdir %>
#/usr/local/share
logfile = /var/log/mcollective.log
loglevel = info
daemonize = 1

# Plugins
securityprovider = psk
plugin.psk = unset


connector = <%= @broker %>


plugin.rabbitmq.vhost = <%= @vhost %>
plugin.rabbitmq.pool.size = 1
plugin.rabbitmq.pool.1.host = <%= @broker_server %>
plugin.rabbitmq.pool.1.port = 61614
plugin.rabbitmq.pool.1.user = <%= @mcolagent %>
plugin.rabbitmq.pool.1.password = <%= @mcolagent_password %>
plugin.rabbitmq.pool.1.ssl = 1
plugin.rabbitmq.pool.1.ssl.verify = 0
plugin.rabbitmq.pool.1.ssl.ca = <%= @puppetcapem %>
plugin.rabbitmq.pool.1.ssl.cert = <%= @puppetcertpem %>
plugin.rabbitmq.pool.1.ssl.key = <%= @puppetkeypem %>
plugin.rabbitmq.heartbeat_interval = 30
plugin.rabiitmq.stomp_1_0_fallback = 0
plugin.rabbitmq.max_hbread_fails = 2
plugin.rabbitmq.max_hbrlck_fails = 1

plugin.activemq.pool.size = 1
plugin.activemq.pool.1.host = <%= @broker_server %>
plugin.activemq.pool.1.port = 61614
plugin.activemq.pool.1.user = <%= @mcolagent %>
plugin.activemq.pool.1.password = <%= @mcolagent_password %>
plugin.activemq.pool.1.ssl = 1
plugin.activemq.pool.1.ssl.verify = 0
plugin.activemq.pool.1.ssl.ca = <%= @puppetcapem %>
plugin.activemq.pool.1.ssl.cert = <%= @puppetcertpem %>
plugin.activemq.pool.1.ssl.key = <%= @puppetkeypem %>
plugin.activemq.heartbeat_interval = 30
plugin.activemq.stomp_1_0_fallback = 0
plugin.activemq.max_hbread_fails = 2
plugin.activemq.max_hbrlck_fails = 1





# Facts
factsource = yaml
plugin.yaml = <%= @yamlfacts %> 

