# managed by puppet

<% if @domain %>
domain	<%= @domain %>
<% end %>

wwsympa_url <%= @web_url %>

<% if @http_host %>
http_host <%= @http_host %>
<% end %>


<% if @stitle %>
title <%= @stitle %>
<% end %>


