
sympa@<%= @_sympa_domain %>		sympa:sympa@<%=@_sympa_domain%>
listmaster@<%= @_sympa_domain %>	sympa:listmaster@<%=@_sympa_domain%>
bounce@<%= @_sympa_domain %>	sympabounce:sympa@<%=@_sympa_domain%>
abuse-feedback-report@<%= @_sympa_domain %> sympabounce:sympa@<%=@_sympa_domain%>

